*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(102, 51, 153, 0.25);
  border: 1px solid black;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
  max-width: 400px;
}
.container{
  width: 70%;
  margin: 0 auto;
}

.label{
  background-color: #ff0000;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  color: white;
}

/* header */
header{
  height: 70px;
  background-color: #ff6900;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container ul{
  list-style: none;
  display: flex;
  align-items: center;
}

header .container ul li{
  margin-right: 10px;
}

header .container ul li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

header .container ul li a:hover{
  text-decoration: underline;
}

header .container img{
  height: 35px;
}

header .container .mini-top a{
  margin-left: 5px;
  text-decoration: none;
  color: white;
}

header .container .mini-top a:hover{
  color: blue;
}

/* main */
.row{
  display: inline-block;
  padding: 50px 0px;
  margin-top: 70px;
}

/* card */
.row .card{
  display: inline-block;
  width: 300px;
  margin: 10px;
}

.row .card .product{
  position: relative;
  display: inline-block;
  width: 300px;
  cursor: pointer;
}

.row .card .product img{
  width: 300px;
}

.row .card .product .hover.alt{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.row .card .product:hover .hover.alt{
  display: block;
}

.row .card .product:hover .label.like{
  display: block;
}

/* etichette */


.card .product .lbl{
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 40px;
}
.row .card .product .label.lb-sost{
  display: inline-block;
  background-color: #008000;
  margin-right: 5px;
}

.row .card .product .lbl .discount{
  display: inline-block;
  margin-right: 5px;
}

.row .card .product .label.like{
  position: absolute;
  right: 0px;
  top: 15px;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 5px 10px;
}

.row .card .product .label.like:hover{
  color: red;
}

/* product info */
.card .product-info{
  line-height: 0.9rem;
}

.card .product-info .brand{
  font-size: 14px;
}

.card .product-info .name{
  text-transform: uppercase;
  font-weight: 600;
}

.card .product-info .price{
  font-weight: 600;
  font-size: 14px;
}

.card .product-info .price span:first-child{
  color: #ff0000;
}

.card .product-info .price span:nth-child(2){
  font-weight: 500;
  text-decoration: line-through;
}

footer{
  background-color: #1a1a1a;
  height: 100px;
  color: white;
  padding: 20px 0;
}

.container .foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot .f-left ul{
  list-style: none;
  display: flex;
}

.foot .f-left h3{
  margin-bottom: 10px;
}
.foot .f-left ul li{
  margin-right: 10px;
  font-size: 12px;
}

.foot .f-left a,
.foot .f-right a{
  text-decoration: none;
  color: white;
}

.foot .f-right h6{
  margin-bottom: 10px;
}

.foot .f-right{
  text-align: right;
}